body {
    font-family: Arial, sans-serif;
    background-color: rgb(184, 184, 184);
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

.table-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: rgb(231, 231, 231);
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #4caf6d;
    color: white;
}

td {
    background-color: #f9f9f9;
}

tr:nth-child(even) td {
    background-color: #d6d4d4;
}

a {
    color: #564caf;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #45a049;
}

td a {
    margin-right: 10px;
}
